
  <!-- <button class="btn btn-primary">Submit</button> -->
  <div class="vertical-nav"></div>
  <div class="container" id="info-container">
      <div class="row">
          <div class="col-md-12">
              <h2 class="text-center text-info">Contact Us</h2>
          </div>
          <div class="col-12 col-sm-6 col-md-6" id="contact-box">
              <p id="contact-text">For more information you have about us you can contact us by the following address or you can fill the follwoing form and we will replay within 24 hrs.</p>
              <div class="info-box"><i class="fa fa-map-marker my-info-icons"></i><span class="text-uppercase text-info">Address: </span><span>Ethiopia, Addis Ababa, Mexico, Street 01</span></div>
              <div class="info-box"><i class="fa fa-envelope my-info-icons"></i><span class="text-uppercase text-info">Email: </span><span>contact@athena.org </span></div>
              <div class="info-box"><i class="fa fa-phone-square my-info-icons"></i><span class="text-uppercase text-info">Phone: </span><span>+251920128307</span></div>
          </div>
          <div class="col-12 col-sm-6 col-md-6 site-form">
              <form id="my-form">
                  <div class="form-group"><label class="sr-only" for="firstname">First Name</label><input class="form-control" type="text" name="firstname" placeholder="First Name" autofocus="" id="firstname"></div>
                  <div class="form-group"><label class="sr-only" for="lastname">Last Name</label><input class="form-control" type="text" name="lastname" placeholder="Last Name" id="lastname"></div>
                  <div class="form-group"><label class="sr-only" for="phonenumber">Phone Number</label><input class="form-control" type="tel" name="phonenumber" required="" placeholder="Phone" id="phonenumber"></div>
                  <div class="form-group"><label class="sr-only" for="email">Email Address</label><input class="form-control" type="text" name="email" required="" placeholder="Email" id="email"></div>
                  <div class="form-group"><label class="sr-only" for="messages">Last Name</label><textarea class="form-control" rows="8" name="messages" required="" placeholder="Message"></textarea></div><button class="btn btn-light btn-lg" type="submit" id="form-btn">SEND </button></form>
          </div>
          <div class="clearfix"></div>
      </div>
  </div>
  <div id="contact"></div>
  <section class="td-form"></section>
  <section class="td-form"></section>
  <footer class="bg-dark text-white border-top border-info">
  <div class="card"></div>
  <div class="container text-center text-sm-left position-relative py-5">
      <div class="row">
          <div class="col-sm-6 col-md-3">
              <h3 class="text-info pb-2 border-bottom border-info">Services</h3>
              <ul class="list-unstyled d-inline-block d-sm-block">
                  <li class="mb-2"><a class="text-light" href="#">Web Desgin</a></li>
                  <li class="mb-2"><a class="text-light" href="#">Development</a></li>
                  <li class="mb-2"><a class="text-light" href="#">Hosting</a></li>
                  <li class="mb-2"><a class="text-light" href="#">Vulgasset ut solent</a></li>
              </ul>
          </div>
          <div class="col-sm-6 col-md-3">
              <h3 class="text-info pb-2 border-bottom border-info">About</h3>
              <ul class="list-unstyled d-inline-block d-sm-block">
                  <li class="mb-2"><a class="text-light" href="#">Company</a></li>
                  <li class="mb-2"><a class="text-light" href="#">Team</a></li>
                  <li class="mb-2"><strong>Careers</strong></li>
                  <li class="mb-2"></li>
              </ul>
          </div>
          <div class="col-sm-6 col-md-3">
              <h3 class="text-info pb-2 border-bottom border-info">Athena Resort and spa</h3>
              <ul class="list-unstyled d-inline-block d-sm-block">
                  <li class="mb-2"><a class="text-light" href="#">A lillte about our company which is different from the text below</a></li>
              </ul>
          </div>
          <div class="col-sm-6 col-md-3">
              <h3 class="text-info pb-2 border-bottom border-info">Contact us</h3>
              <ul class="list-unstyled d-inline-block d-sm-block">
                  <li class="mb-2"><a class="text-light" href="#">Minimumque</a></li>
                  <li class="mb-2"><a class="text-light" href="#">Sensim fame petivere</a></li>
                  <li class="mb-2"><a class="text-light" href="#">Vulgasset ut solent</a></li>
                  <li class="mb-2"><a class="text-light" href="#">Expers cum eodem</a></li>
              </ul>
          </div>
      </div>
  </div>
  <div class="pt-5 pb-4 bg-info text-dark">
      <div class="container">
          <div class="row">
              <div class="col-md-6 col-lg-4 text-center text-md-left pb-4">
                  <h2 class="mb-3"><i class="fa fa-diamond"></i>Athena Restort and spa</h2>
                  <p class="mb-1"><i class="fa fa-map-marker fa-fw"></i>&nbsp;Royal Road - Tamarin - Mauritius</p>
                  <p class="mb-1"><i class="fa fa-phone fa-fw"></i>+251920128307</p>
                  <p class="mb-1"><i class="fa fa-envelope fa-fw"></i>&nbsp;<a href="mailto:contact@company.com" class="text-dark">contact@athena.com</a></p>
              </div>
              <div class="col-md-6 col-lg-4 text-center text-md-left pb-4">
                  <p class="my-3">Different information about our company which is different from the abouve text. ferociens Gallus ut leo cadaveribus pastus multa huius modi scrutabatur. quae singula narrare non refert, me professione modum, quod evitandum est,
                      excedamus.</p>
              </div>
              <div class="col-lg-4 text-center text-lg-right pb-4">
                  <h3 class="mb-0">Follow us</h3>
                  <p class="mb-2">Subscribe to get new info</p>
                  <form class="d-flex justify-content-center justify-content-lg-end">
                      <div class="form-group w-75">
                          <div class="input-group"><input class="form-control" type="text" required="" placeholder="Your email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,15}$" inputmode="email">
                              <div class="input-group-append"><button class="btn btn-dark" type="submit">Go!</button></div>
                          </div>
                      </div>
                  </form>
                  <div><a href="#" class="text-dark mx-2 mx-lg-0 ml-lg-3"></a></div>
              </div>
          </div>
      </div>
  </div>
  <div class="text-center text-lg-left py-2 small bg-dark text-info font-italic">
      <div class="container">
          <p class="m-0">© 2019 Athena Resort and spa ~ All rights reserved</p>
      </div>
  </div>
