<div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading blucr">Ballroom</h2>
        <h3><p> Total area of 450 m2. Great for:</p></h3>
    <b>
                 <ul>
                    <li>Weddings</li>
                    <li>Expos</li>
                    <li>Conferences</li>
                    <li>Events with up to 500 attendees</li>
                </ul>
                <a mat-list-item class="btn btn-lg btn-primary" [routerLink]="['/reservation']" routerLinkActive="active" role="button">BOOK NOW</a>
            
    </b>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="assets/img/Paragraph_147509.jpg" alt="image was here">
        </div>
    <!--try to add here one of the divs-->
  
      </div>
  
      <hr class="featurette-divider">
  
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
        
      </div>
  
      <hr class="featurette-divider">
  
     
        <!--try to add here one of the divs-->
    <div class="col-md-5">
          <img class="featurette-image img-fluid mx-auto" src="assets/img/Paragraph_147561_0.jpg" alt="image was here">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading blucr"> 5 Meeting Rooms</h2>
          <h3><p>Great for:</p></h3>
          <b>
                   <ul>
                        <li>Meetings and events</li>
                        <li>Conferences</li>
                        <li>Presentations</li>
                        <li>Events with up to 60 attendees&nbsp;</li>
                    </ul>
                    <a mat-list-item class="btn btn-lg btn-primary" [routerLink]="['/reservation']" routerLinkActive="active" role="button">BOOK NOW</a>
                  </b>
        </div>
  
      <hr class="featurette-divider">
  
      <!-- /END THE FEATURETTES -->
        <!-- <script src="assets/img/jquery-3.2.1.slim.min.js"></script>
        <script src="assets/img/bootstrap.min.js"></script>
        <script src="assets/img/popper.min.js"></script>
        <script src="assets/img/holder.min.js"></script> -->
    </div>