<div class="team-boxed"></div>
    <div class="team-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Team </h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="assets/img/1.jpg">
                    <h3 class="name">Misgana Workneh</h3>
                    <p class="title">Programer</p>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                </div>
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="assets/img/1.jpg">
                    <h3 class="name">Team member1</h3>
                    <p class="title">Task1</p>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                </div>
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="assets/img/2.jpg">
                    <h3 class="name"><strong>Team member2</strong><br></h3>
                    <p class="title">task2</p>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                </div>
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="assets/img/2.jpg">
                    <h3 class="name"><strong>Team member3</strong><br></h3>
                    <p class="title">task3</p>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                </div>
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="assets/img/2.jpg">
                    <h3 class="name"><strong>Team member4</strong><br></h3>
                    <p class="title">task4</p>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                </div>
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="assets/img/3.jpg">
                    <h3 class="name"><strong>Team member5</strong><br></h3>
                    <p class="title">task5</p>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                </div>
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="assets/img/3.jpg">
                    <h3 class="name"><strong>Team member6</strong><br></h3>
                    <p class="title">task6</p>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                </div>
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="assets/img/3.jpg">
                    <h3 class="name"><strong>Team member7</strong><br></h3>
                    <p class="title">tAsk7</p>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                </div>
                <div class="col-md-6 col-lg-4 item"><img class="rounded-circle" src="assets/img/3.jpg">
                    <h3 class="name"><strong>Team member8</strong><br></h3>
                    <p class="title">task8</p>
                    <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu gravida. Aliquam varius finibus est, et interdum justo suscipit id. Etiam dictum feugiat tellus, a semper massa. </p>
                </div>
            </div>
        </div>
    </div>
    <footer class="bg-dark text-white border-top border-info">
        <div class="card"></div>
        <div class="container text-center text-sm-left position-relative py-5">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <h3 class="text-info pb-2 border-bottom border-info">Services</h3>
                    <ul class="list-unstyled d-inline-block d-sm-block">
                        <li class="mb-2"><a class="text-light" href="#">Web Desgin</a></li>
                        <li class="mb-2"><a class="text-light" href="#">Development</a></li>
                        <li class="mb-2"><a class="text-light" href="#">Hosting</a></li>
                        <li class="mb-2"><a class="text-light" href="#">Vulgasset ut solent</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h3 class="text-info pb-2 border-bottom border-info">About</h3>
                    <ul class="list-unstyled d-inline-block d-sm-block">
                        <li class="mb-2"><a class="text-light" href="#">Company</a></li>
                        <li class="mb-2"><a class="text-light" href="#">Team</a></li>
                        <li class="mb-2"><strong>Careers</strong></li>
                        <li class="mb-2"></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h3 class="text-info pb-2 border-bottom border-info">Athena Resort and spa</h3>
                    <ul class="list-unstyled d-inline-block d-sm-block">
                        <li class="mb-2"><a class="text-light" href="#">A lillte about our company which is different from the text below</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h3 class="text-info pb-2 border-bottom border-info">Contact us</h3>
                    <ul class="list-unstyled d-inline-block d-sm-block">
                        <li class="mb-2"><a class="text-light" href="#">Minimumque</a></li>
                        <li class="mb-2"><a class="text-light" href="#">Sensim fame petivere</a></li>
                        <li class="mb-2"><a class="text-light" href="#">Vulgasset ut solent</a></li>
                        <li class="mb-2"><a class="text-light" href="#">Expers cum eodem</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pt-5 pb-4 bg-info text-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4 text-center text-md-left pb-4">
                        <h2 class="mb-3"><i class="fa fa-diamond"></i>Athena Restort and spa</h2>
                        <p class="mb-1"><i class="fa fa-map-marker fa-fw"></i>&nbsp;Royal Road - Tamarin - Mauritius</p>
                        <p class="mb-1"><i class="fa fa-phone fa-fw"></i>+251920128307</p>
                        <p class="mb-1"><i class="fa fa-envelope fa-fw"></i>&nbsp;<a href="mailto:contact@company.com" class="text-dark">contact@athena.com</a></p>
                    </div>
                    <div class="col-md-6 col-lg-4 text-center text-md-left pb-4">
                        <p class="my-3">Different information about our company which is different from the abouve text. ferociens Gallus ut leo cadaveribus pastus multa huius modi scrutabatur. quae singula narrare non refert, me professione modum, quod evitandum est,
                            excedamus.</p>
                    </div>
                    <div class="col-lg-4 text-center text-lg-right pb-4">
                        <h3 class="mb-0">Follow us</h3>
                        <p class="mb-2">Subscribe to get new info</p>
                        <form class="d-flex justify-content-center justify-content-lg-end">
                            <div class="form-group w-75">
                                <div class="input-group"><input class="form-control" type="text" required="" placeholder="Your email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,15}$" inputmode="email">
                                    <div class="input-group-append"><button class="btn btn-dark" type="submit">Go!</button></div>
                                </div>
                            </div>
                        </form>
                        <div><a href="#" class="text-dark mx-2 mx-lg-0 ml-lg-3"></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center text-lg-left py-2 small bg-dark text-info font-italic">
            <div class="container">
                <p class="m-0">© 2019 Athena Resort and spa ~ All rights reserved</p>
            </div>
        </div>