<div class="col-md-8 offset-md-2">
            <mat-card>
                <form>
                  <h1 class="text-center">Register Form</h1><br/>
                  <div class="form-row form-group">
                        <mat-form-field class="full-width">
                              <input matInput placeholder="First name">
                          </mat-form-field>
                  </div>
                  
                  <div class="form-row form-group">
                        <mat-form-field class="full-width">
                              <input matInput placeholder="Second name">
                          </mat-form-field>
                  </div>
                  <div class="form-row form-group">
                        <mat-form-field class="full-width">
                              <input matInput placeholder="Phone number">
                          </mat-form-field>
                  </div>
                  
              <div class="form-row form-group">   
              <mat-form-field class="full-width">
                      <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                      <mat-hint align="end">Hint: email@domin.com</mat-hint>
                      <mat-error align="end" *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                          Please enter a vaild email address
                      </mat-error>
                  </mat-form-field>
                  
            </div>
            <div class="form-row form-group">
                        <mat-form-field class="full-width">
                              <input matInput placeholder="Password" type="password">
                          </mat-form-field>
                  </div>
                  <div class="form-row form-group">
                              <mat-form-field class="full-width">
                                    <input matInput placeholder="Repeat Password" type="password">
                                </mat-form-field>
                        </div>
        <div class="full-width">
                <button class="btn btn-success submit-button " type="button">Register</button>
    
        </div>
                </form>
              </mat-card>    
          </div>
      