<div class="row featurette">
    <div class="col-md-7">
      <!-- the images go here -->
      
    </div>
    <div class="col-md-5">
      <h2 class="featurette-heading blucr">Aquaruim</h2>
      <img class="featurette-image img-fluid mx-auto" src="assets/img/Aquaruim/Paragraph_36A0465.jpg" alt="image was here">
      
    </div>
<!--try to add here one of the divs-->

    <div class="col-md-5">
        <span class="pg-item">
            <img src="assets/img/Aquaruim/Paragraph_36A0465.jpg" width="310" height="310">
        </span>
        <span class="pg-item">
            <img src="assets/img/Aquaruim/Paragraph_36A0465.jpg" width="310" height="310">
        </span>    
    </div>
    <div class="col-md-5">
        <span class="pg-item">
            <img src="assets/img/Aquaruim/Paragraph_36A0465.jpg" width="310" height="310">
        </span>
        <span class="pg-item">
            <img src="assets/img/Aquaruim/Paragraph_36A0465.jpg" width="310" height="310">
        </span>    
    </div>




  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
    
  </div>

  <hr class="featurette-divider">

 
    <!--try to add here one of the divs-->
<div class="col-md-5">
    <h2 class="featurette-heading blucr">Open pool</h2>
    <img class="featurette-image img-fluid mx-auto" src="assets/img/Open_pool/20171005__DJI_0191.jpg" alt="image was here">
    </div>
    <div class="col-md-7">
     some image 2
    </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->
    <!-- <script src="assets/img/jquery-3.2.1.slim.min.js"></script>
    <script src="assets/img/bootstrap.min.js"></script>
    <script src="assets/img/popper.min.js"></script>
    <script src="assets/img/holder.min.js"></script> -->
</div>
<div class="row featurette">
    <div class="col-md-7">
      <!-- the images go here -->
      
    </div>
    <div class="col-md-5">
        <h2 class="featurette-heading blucr">Winter garden</h2>
        <img class="featurette-image img-fluid mx-auto" src="assets/img/Winter Garden/Paragraph_147075.jpg" alt="image was here">
    </div>
<!--try to add here one of the divs-->
some image 3
  </div>

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-md-7 order-md-2">
    
  </div>