<div class="row register-form">
  <div class="col-md-8 offset-md-2">
      <mat-card>
          <form class="custom-form">
            <h1>Reservation Form</h1><br/>
            <div class="form-row form-group">
                  First Name
                  <mat-form-field class="full-width">
                        <input matInput placeholder="First name">
                    </mat-form-field>
            </div>
            
            <div class="form-row form-group">
                  Second Name
                  <mat-form-field class="full-width">
                        <input matInput placeholder="Second name">
                    </mat-form-field>
            </div>
            <div class="form-row form-group">
                  Phone number
                  <mat-form-field class="full-width">
                        <input matInput placeholder="Phone number">
                    </mat-form-field>
            </div>
            <div class="form-row form-group">
                Starting date
                  <mat-form-field class="full-width">
                        <input matInput type="date">
                    </mat-form-field>
          </div>
          <div class="form-row form-group">   
              Ending date
              <mat-form-field class="full-width">
                    <input matInput type="date">
                </mat-form-field>
        </div>
        <div class="form-row form-group">   
            Email
        <mat-form-field class="full-width">

                <input matInput placeholder="Email" [formControl]="emailFormControl" [errorStateMatcher]="matcher">
                <mat-hint align="end">Hint: email@domin.com</mat-hint>
                <mat-error align="end" *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                    Please enter a vaild email address
                </mat-error>
            </mat-form-field>
      </div>
  <button class="btn btn-success submit-button" type="button">Send Reservation</button>
          </form>
        </mat-card>    
    </div>
    </div>