
   <div class='container-fluid'>
      <div class='co1-12'>
        <ngb-carousel>
          <ng-template ngbSlide>
            <img class="imgs"src="assets/img/rspic(18).jpg" alt="Random first slide">
            <div class="carousel-caption">
              <h3>First slide</h3>
              <p>some shity slide</p>
              <p><a mat-list-item class="btn btn-lg btn-primary" [routerLink]="['/login']" routerLinkActive="active" role="button">Sign up today</a></p>

            </div>
          </ng-template>
          <ng-template ngbSlide>
              <img class="imgs" src="assets/img/59eb20050df742268f157bc152e6654f.jpg" alt="Random second slide">
              <div class="carousel-caption">
                <h3>Second slide</h3>
                <p>This luxury resort is the perfect getaway for couples from the hustle and bustle of Addis Ababa. 
                  </p>
                <p><a mat-list-item class="btn btn-lg btn-primary" [routerLink]="['/team']" routerLinkActive="active" role="button">Learn more</a></p>

              </div>
          </ng-template>
          <ng-template ngbSlide>
              <img class="imgs" src="assets/img/46852e8ec85d4089a90df802ef124ff9.jpg" alt="Random thrird slide">
              <div class="carousel-caption">
                <h3>Thrird slide</h3>
                <p>Take a peak at our gallery.We have charming Open spools, Winter Gardens, Aquaruim and so much more</p>
                <p><a mat-list-item class="btn btn-lg btn-primary" [routerLink]="['/gallery']" routerLinkActive="active" role="button">Browse gallery</a></p>

              </div>
          </ng-template>
          <ng-template ngbSlide>
              <img class="imgs" src="assets/img/6687617aa9c8426dbd22641673842b6f.jpg" alt="Random fourth slide">
              <div class="carousel-caption">
                <h3>Fourth slide</h3>
                <p>Upon entering this charming resort, you will immediately sense its intimate atmosphere 
                    that is brought about by its beautifully-decorated pool with white topped cabanas.</p>
                    <a mat-list-item class="nav-link" [routerLink]="['/reservation']" routerLinkActive="active">Reservation</a>
              </div>
          </ng-template>
        </ngb-carousel>
      </div>
  
    </div>
  
  


  <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="assets/img/Paragraph_36A0864.jpg" width="245" height="245">
        <h2>Spring offer Get 4 Pay 3</h2>
        <p>Our resort offers high-end luxury in an Ethiopian paradise setting. 
            Breathtaking landscapes encompass the resort as guests enjoy the natural wonders.
           </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="assets/img/Paragraph_36A0860.jpg" alt="image was here" width="245" height="245">
        <h2>Weekend Retreat</h2>
        <p>Upon entering this charming resort, you will immediately sense its intimate atmosphere 
            that is brought about by its beautifully-decorated pool with white topped cabanas.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="assets/img/99.PNG" alt="image was here" width="245" height="245">
        <h2>Check In</h2>
        <p>A unique place where perfect blend of sea and forest landscape welcomes
            the exotically inspired retreat creates profound feeling of divine 
            harmony and seamless relaxation by the Sea Coast..</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First things first!! <span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead">Athena Resort & Spa — a unique place where perfect 
          blend of sea and forest landscape welcomes bald contemporary design engraving new paragraph in the history of fabled Georgian hospitality. 
          Chic and sophisticated, the exotically inspired retreat creates profound feeling of divine harmony and seamless relaxation by the Black Sea Coast.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="assets/img/Paragraph_148275_0.jpg" alt="image was here">
      </div>
  <!--try to add here one of the divs-->

    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
      
    </div>

    <hr class="featurette-divider">

   
      <!--try to add here one of the divs-->
  <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="assets/img/Paragraph_147607.jpg" alt="image was here">
      </div>
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Feeling of serenity will slowly follow, as you drive further through the ancient pine tree forest to our state of the art retreat.
           Upon entering, you are bound to be allured by the striking element of design, the one of its kind walkthrough aquarium. 
           When you cross the threshold of reality, its exotic marine inhabitants shall lead you towards the inner falls, 
           which guides you down into the majestic winter garden, indoor aqua park and the jewel of our property — 115m long filtered seawater 
           pool built into mindfully designed panoramic dec</p>
      </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->
      <!-- <script src="assets/img/jquery-3.2.1.slim.min.js"></script>
      <script src="assets/img/bootstrap.min.js"></script>
      <script src="assets/img/popper.min.js"></script>
      <script src="assets/img/holder.min.js"></script> -->
  </div>
    