<div class='container-fluid'>
    <div class='co1-12'>
        <h1 class="blucr"><b>Deluxe Double Room</b></h1>
      <ngb-carousel>
        <ng-template ngbSlide>
          <img class="imgs imgsz"src="assets/img/Deluxe_DoubleDouble_Room/DoubleDouble-Room-(3).jpg" height="500" width="1300" alt="Random first slide">
          <div class="carousel-caption">
          </div>
        </ng-template>
        <ng-template ngbSlide>
            <img class="imgs" src="assets/img/Deluxe_DoubleDouble_Room/Paragraph_146949_0.jpg" height="500" width="1300" alt="Random second slide">
            <div class="carousel-caption">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <img class="imgs" src="assets/img/Deluxe_DoubleDouble_Room/shekvetili_20170818_0005.jpg" height="500" width="1300" alt="Random thrird slide">
            <div class="carousel-caption">
            </div>
        </ng-template>
      </ngb-carousel>
      <a mat-list-item class="nav-link" [routerLink]="['/reservation']" routerLinkActive="active">BOOK NOW</a>

    </div>
    <hr class="featurette-divider">
  </div>
  <div class='container-fluid'>
      <div class='co1-12'>
          <h1 class="blucr"><b>Deluxe King Room</b></h1>

        <ngb-carousel>
          <ng-template ngbSlide>
              <img class="imgs" src="assets/img/Deluxe_King_Room/Paragraph_146532.jpg" height="500" width="1300" alt="Random second slide">
              <div class="carousel-caption">
              </div>
          </ng-template>
          <ng-template ngbSlide>
              <img class="imgs" src="assets/img/Deluxe_King_Room/Paragraph_146966.jpg" height="500" width="1300" alt="Random thrird slide">
              <div class="carousel-caption">
              </div>
          </ng-template>
          <ng-template ngbSlide>
              <img class="imgs" src="assets/img/Deluxe_King_Room/Paragraph_147038.jpg" height="500" width="1300" alt="Random fourth slide">
              <div class="carousel-caption">
              </div>
          </ng-template>
        </ngb-carousel>
        <a mat-list-item class="nav-link" [routerLink]="['/reservation']" routerLinkActive="active">BOOK NOW</a>
    </div>
  
    </div>
    <hr class="featurette-divider">
    <div class='container-fluid'>
        <div class='co1-12'>
            <h1 class="blucr"><b>Family Suite</b></h1>
  
          <ngb-carousel>
            <ng-template ngbSlide>
                <img class="imgs" src="assets/img/Family_Suite/Paragraph_146562.jpg" height="500" width="1300" alt="Random second slide">
                <div class="carousel-caption">
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="imgs" src="assets/img/Family_Suite/Paragraph_146639.jpg" height="500" width="1300" alt="Random thrird slide">
                <div class="carousel-caption">
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="imgs" src="assets/img/Family_Suite/Paragraph_146691.jpg" height="500" width="1300" alt="Random fourth slide">
                <div class="carousel-caption">
                </div>
            </ng-template>
            <ng-template ngbSlide>
                <img class="imgs" src="assets/img/Family_Suite/Paragraph_146721.jpg" height="500" width="1300" alt="Random fourth slide">
                <div class="carousel-caption">
                </div>
            </ng-template>
          </ngb-carousel>
          <a mat-list-item class="nav-link" [routerLink]="['/reservation']" routerLinkActive="active">BOOK NOW</a>
        </div>
    
      </div>
      <hr class="featurette-divider">
      <div class='container-fluid'>
          <div class='co1-12'>
              <h1 class="blucr"><b>Standard Double Room</b></h1>
    
            <ngb-carousel>
              <ng-template ngbSlide>
                  <img class="imgs" src="assets/img/Standard_DoubleDouble_Room/Standard-Double-Room-1.jpg" height="500" width="1300" alt="Random second slide">
                  <div class="carousel-caption">
                  </div>
              </ng-template>
              <ng-template ngbSlide>
                  <img class="imgs" src="assets/img/Standard_DoubleDouble_Room/Paragraph_148366.jpg" height="500" width="1300" alt="Random thrird slide">
                  <div class="carousel-caption">
                  </div>
              </ng-template>
              <ng-template ngbSlide>
                  <img class="imgs" src="assets/img/Standard_DoubleDouble_Room/Standard-Double-Room-2.jpg" height="500" width="1300" alt="Random fourth slide">
                  <div class="carousel-caption">
                  </div>
              </ng-template>
            </ngb-carousel>
            <a mat-list-item class="nav-link" [routerLink]="['/reservation']" routerLinkActive="active">BOOK NOW</a>
        </div>
      
        </div>
        <hr class="featurette-divider">
        <div class='container-fluid'>
            <div class='co1-12'>
                <h1 class="blucr"><b>Standard_King_Room</b></h1>     
              <ngb-carousel>
                <ng-template ngbSlide>
                    <img class="imgs" src="assets/img/Standard_King_Room/Paragraph_146841.jpg" height="500" width="1300" alt="Random second slide">
                    <div class="carousel-caption">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img class="imgs" src="assets/img/Standard_King_Room/Paragraph_146884.jpg" height="500" width="1300" alt="Random thrird slide">
                    <div class="carousel-caption">
                    </div>
                </ng-template>
                <ng-template ngbSlide>
                    <img class="imgs" src="assets/img/Standard_King_Room/Pres 2 leving2_0.jpg" height="500" width="1300" alt="Random fourth slide">
                    <div class="carousel-caption">
                    </div>
                </ng-template>
              </ngb-carousel>
              <a mat-list-item class="nav-link" [routerLink]="['/reservation']" routerLinkActive="active">BOOK NOW</a>
            </div>       
          </div>
