  
  <h2>this is my test links to all </h2>
  <a routerLink="">Home</a><br/>
  <a routerLink="/team">Team</a><br/>
  <a routerLink="/meetings">Meetings</a><br/>
  <a routerLink="/weddings">Weddings</a><br/>
  <a routerLink="/group-booking">Group booking</a><br/>
  <a routerLink="/specials-and-packages">Special and Packages</a><br/>
  <a routerLink="/services">Services</a><br/>
  <a routerLink="/packages">Packages</a><br/>
  <a routerLink="/contact-us">Contact us</a><br/>
  <a routerLink="/login">login</a><br/>
  <a routerLink="/register">Register</a><br/>

  <router-outlet></router-outlet>
