<div> 
  <nav class="navbar navbar-light navbar-expand-md sticky-top bg-dark navigation-clean-button" style="height:80px;background-color:#37434d;color:#ffffff;">
        <div class="container-fluid"><a class="navbar-brand" href="#"><i class="fa fa-globe"></i>&nbsp;Antariksh</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" routerLink="" style="color:#ffffff;">Home</a><br/></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/meetings" style="color:#ffffff;">Meetings</a><br/>
                    <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/weddings" style="color:#ffffff;">Weddings</a><br/></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/group-booking" style="color:#ffffff;">Group booking</a><br/>
                    <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/specials-and-packages" style="color:#ffffff;">Special and Packages</a><br/>
                    <li class="nav-item" role="presentation"><a class="nav-link" routerLink="/services"style="color:#ffffff;">Services>Spa</a></li>
                </ul>
        </div>
</div>
</nav>
</div>
<div class="login-dark">
    <form method="post">
        <h2 class="sr-only">Login Form</h2>
        <div class="illustration"><i class="icon ion-ios-locked-outline"></i></div>
        <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email"></div>
        <div class="form-group"><input class="form-control" type="password" name="password" placeholder="Password"></div>
        <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Log In</button></div><a href="#" class="forgot">Forgot your email or password?</a></form>
</div>
<div class="footer-dark">
    <footer>
    <footer class="bg-dark text-white border-top border-info">
        <div class="card"></div>
        <div class="container text-center text-sm-left position-relative py-5">
            <div class="row">
                <div class="col-sm-6 col-md-3">
                    <h3 class="text-info pb-2 border-bottom border-info">Services</h3>
                    <ul class="list-unstyled d-inline-block d-sm-block">
                        <li class="mb-2"><a class="text-light" href="#">Web Desgin</a></li>
                        <li class="mb-2"><a class="text-light" href="#">Development</a></li>
                        <li class="mb-2"><a class="text-light" href="#">Hosting</a></li>
                        <li class="mb-2"><a class="text-light" href="#">Vulgasset ut solent</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h3 class="text-info pb-2 border-bottom border-info">About</h3>
                    <ul class="list-unstyled d-inline-block d-sm-block">
                        <li class="mb-2"><a class="text-light" href="#">Company</a></li>
                        <li class="mb-2"><a class="text-light" href="#">Team</a></li>
                        <li class="mb-2"><a class="text-light" href="#">Careers</a></li>
                        <li class="mb-2"></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h3 class="text-info pb-2 border-bottom border-info">Athena Resort and spa</h3>
                    <ul class="list-unstyled d-inline-block d-sm-block">
                        <li class="mb-2"><a class="text-light" href="#">A lillte about our company which is different from the text below</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3">
                    <h3 class="text-info pb-2 border-bottom border-info">Contact us</h3>
                    <ul class="list-unstyled d-inline-block d-sm-block">
                        <li class="mb-2"><a class="text-light" href="#">Minimumque</a></li>
                        <li class="mb-2"><a class="text-light" href="#">Sensim fame petivere</a></li>
                        <li class="mb-2"><a class="text-light" href="#">Vulgasset ut solent</a></li>
                        <li class="mb-2"><a class="text-light" href="#">Expers cum eodem</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="pt-5 pb-4 bg-info text-dark">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4 text-center text-md-left pb-4">
                        <h2 class="mb-3"><i class="fa fa-diamond"></i>Athena Restort and spa</h2>
                        <p class="mb-1"><i class="fa fa-map-marker fa-fw"></i>Royal Road - Tamarin - Mauritius</p>
                        <p class="mb-1"><i class="fa fa-phone fa-fw"></i>+251920128307</p>
                        <p class="mb-1"><i class="fa fa-envelope fa-fw"></i><a href="mailto:contact@company.com" class="text-dark">contact@athena.com</a></p>
                    </div>
                    <div class="col-md-6 col-lg-4 text-center text-md-left pb-4">
                        <p class="my-3">Different information about our company which is different from the abouve text. ferociens Gallus ut leo cadaveribus pastus multa huius modi scrutabatur. quae singula narrare non refert, me professione modum, quod evitandum est,
                            excedamus.</p>
                    </div>
                    <div class="col-lg-4 text-center text-lg-right pb-4">
                        <h3 class="mb-0">Follow us</h3>
                        <p class="mb-2">Subscribe to get new info</p>
                        <form class="d-flex justify-content-center justify-content-lg-end">
                            <div class="form-group w-75">
                                <div class="input-group"><input class="form-control" type="text" required placeholder="Your email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,15}$" inputmode="email" />
                                    <div class="input-group-append"><button class="btn btn-dark" type="submit">Go!</button></div>
                                </div>
                            </div>
                        </form>
                        <div><a href="#" class="text-dark mx-2 mx-lg-0 ml-lg-3"></a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center text-lg-left py-2 small bg-dark text-info font-italic">
            <div class="container">
                <p class="m-0">© 2019 Athena Resort and spa ~ All rights reserved</p>
            </div>
        </div>
    </footer>
</footer>
</div>