.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 177px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;  
}
.mat-toolbar {
  color: white;
  background-color: darkblue !important;
  height: 7% !important;
}
.mat-nav-list {
  height: 93% !important;
  background-color: rgb(107, 106, 102) ;
}
.mat-sidenav {
  height: 100% !important;
}
.mat-list-item {
  color: white;
  font-weight: inherit;
}